<button type="button" (click)="changeSize()">Click me for change size to big!</button>
<button type="button" (click)="changeSizeTwo()">Click me for change size to small!</button>

<p>TASK first</p>
<div *ngIf="show" class="task1" [ngClass]="{'task1--double': double, 'task1--un-double': undouble}">
    <div class="header">
        <p>продам мопед</p>
    </div>
    <div class="body">
        <p>100ГРН. телефон - 0979464232</p>
    </div>
</div>

<p>TASK second</p>
<div class="task1" [ngClass]="{'task1--double': double, 'task1--un-double': undouble}">
    <div class="header">
        <p>menu</p>
    </div>
    <div class="body">
        <ul>
            <li *ngFor="let Product of menu">{{Product.name}} : {{Product.price}}</li>
        </ul>
    </div>
</div>

<p>TASK third</p>
<div class="task1" [ngClass]="{'task1--double': double, 'task1--un-double': undouble}">
    <div class="header">
        <p>advertise</p>
    </div>
    <div class="body">
        {{productNow.name}} : {{productNow.price}}
    </div>
</div>

<div class="task2" [ngStyle]="{'background-color': 'white'}">
    <p>Hello!</p>
</div>

